body{
    background: linear-gradient(to right, #f8f8fa, #41f2b7);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box{
    width: 350px;
    background: linear-gradient(to right,#b8fdf3, #80f7cf);
    border-radius: 25px;
    text-align: center;
    padding: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}

#songImg{
    height: 200px;
    width: 200px;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    animation: rotateImg 8s linear infinite;
    animation-play-state: paused;
}

@keyframes rotateImg {
    100% { transform: rotate(360deg); }
}

#title{
    font-size: 22px;
    margin-bottom: 10px;
}

#progress,
#volume{
    width: 80%;
    margin-top: 12px;
    cursor: pointer;
}

.btn{
    font-size: 25px;
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
}

i{
    cursor: pointer;
    transition: .3s;
}

i:hover{
    transform: scale(1.2);
    color: #41f2b7;
}

.time-info{
    display: flex;
    justify-content: space-between;
    padding: 0px 35px;
    font-size: 14px;
}

#playlist{
    list-style: none;
    padding: 10px;
    margin-top: 15px;
    font-size: 16px;
}

#playlist li{
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

#playlist li:hover{
    background: #41f2b7;
    color: #fff;
}

.active-song{
    background: #11825c;
    color: #fff;
}

.btn .fa-pause{
    display:none;
}

#logo{
    position:absolute;
    left:10px;
    top:30px;
    height:120px;
}

@media(max-width:400px){
    .box{ width: 90%; }
}
