.box{
    height: 300px;
    width: 800px;
    border: 1px solid black;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.box img{
    height: 100%;
    width: 100%;
}
.box #pre{
    position: absolute;
    left: 0px;
}
.box #nxt{
    position: absolute;
    right:0px;
}